<%- include('./shared/header.ejs') %>

<h1 class="display-4">Zbiór książek</h1>
 
<button id="addBookButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postBookModalTarget" style="margin-bottom: 10px;">
    Dodaj książkę
</button>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <% viewBooks.forEach(function(book) { %>
                <tr>
                    <td><%= book.title %></td>
                    <td><%= book.author.name %> <%= book.author.surname %></td>
                    <td>
                        <form action="/books/delete/<%= book._id %>" method="post">
                            <input id="title<%= book._id %>" type="hidden" value="<%= book.title %>">
                            <input id="author<%= book._id %>" type="hidden" value="<%= book.author._id %>">
                            <button type="button" class="editBookButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#postBookModalTarget" value="<%= book._id %>">
                                Edytuj
                            </button>
                            <input class="btn btn-danger" type="submit" value="Usuń">
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>    
</div>

<%- include('./shared/footer.ejs') %>

<!-- Modal button  -->
<div class="modal fade" id="postBookModalTarget" tabindex="-1" role="dialog" aria-labelledby="postBookModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" id="postBookForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="postBookModalTitle" class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <div class="form-group row" style="margin-bottom: 10px;">
                        <label class="col-sm-3 col-form-label" for="postBookTitle">Tytuł:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="postBookTitle" id="postBookTitle" placeholder="Tytuł..." >
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 10px;">
                        <label class="col-sm-3 col-form-label" for="postBookAuthor">Autor:</label>
                        <div class="col-sm-9">
                            <select class="form-control" type="search" name="postBookAuthor" id="postBookAuthor">
                                <% viewAuthors.forEach(function(author) { %>
                                    <option value="<%= author._id %>"><%= author.name %> <%= author.surname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        <input id="postBookSubmit" type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="module" src="./js/booksOperations.js"></script>